@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Flowbite theme variables */
@import "flowbite/src/themes/default";

body {
    margin: 0px;
    font-family: "Nunito", sans-serif;
    background-color: #151517;
    color: white;
}
